* {
    margin: 0;
}


.contenir{
    background-image: url(images2.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center ;


}
.navbar {
    position: fixed;
}
.cont {
    direction: rtl;
    display: flex;
    margin-right: 2em;
    flex-wrap: wrap;
    position: absolute;
    right:0;
    color: #ffffff;
}
.cont li {
    list-style: none;
    display: inline; 
    margin: 0.8em;
    margin-bottom: 20em;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ededed;
    font-size: 4em;
    text-align: center;
}
.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    margin-top: 6.5em;
    height: 80px;
    width: 525px;
    background-color: #5ab5b7;
    border-radius: 60px;
    padding-top: 10px;
}
img {
    width: 14em;
    margin-top: 1em;
}
#home {
    font-size: 1.3em;
    
}